In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from sklearn.model_selection import train_test_split

In [32]:
df = pd.read_csv("breast_cancer.csv")
df.head(20)

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
5,8,10,10,8,7,10,9,7,1,4
6,1,1,1,1,2,10,3,1,1,2
7,2,1,2,1,2,1,3,1,1,2
8,2,1,1,1,2,1,1,1,5,2
9,4,2,1,1,2,1,2,1,1,2
10,1,1,1,1,1,1,3,1,1,2
11,2,1,1,1,2,1,2,1,1,2
12,5,3,3,3,2,3,4,4,1,4
13,1,1,1,1,2,3,3,1,1,2
14,8,7,5,10,7,9,5,5,4,4
15,7,4,6,4,6,1,4,3,1,4
16,4,1,1,1,2,1,2,1,1,2
17,4,1,1,1,2,1,3,1,1,2
18,10,7,7,6,4,10,4,1,2,4
19,6,1,1,1,2,1,3,1,1,2

In [31]:
df.Class.unique()

array([2, 4], dtype=int64)

In [10]:
x_attributes = df.drop(['Class'] ,axis = 'columns')
x_attributes

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1
679,2,1,1,1,2,1,1,1,1
680,5,10,10,3,7,3,8,10,2
681,4,8,6,4,3,4,10,6,1
682,4,8,8,5,4,5,10,4,1

In [11]:
y_attribute = df.Class
y_attribute

0      2
1      2
2      2
3      2
4      2
      ..
678    2
679    2
680    4
681    4
682    4
Name: Class, Length: 683, dtype: int64

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x_attributes, y_attribute, test_size=0.1, random_state=42)

In [14]:
X_train

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
81,3,1,1,1,2,2,7,1,1
412,8,7,8,2,4,2,5,10,1
289,1,1,1,1,2,1,3,1,1
76,3,1,1,1,2,3,3,1,1
174,1,1,1,1,1,1,3,1,1
...,...,...,...,...,...,...,...,...,...
71,9,4,5,10,6,10,4,8,1
106,1,1,1,1,2,1,2,3,1
270,10,5,7,3,3,7,3,3,8
435,4,1,1,3,1,1,2,1,1
102,10,10,10,10,10,1,8,8,8

In [15]:
X_test

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
292,8,3,4,9,3,10,3,3,1
145,8,8,7,4,10,10,7,8,7
211,1,1,1,1,2,1,3,1,1
118,1,1,2,2,2,1,3,1,1
302,1,1,1,1,1,1,2,1,1
...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1
354,1,1,3,1,2,1,1,1,1
314,8,10,3,2,6,4,3,10,1
101,8,2,3,1,6,3,7,1,1
662,1,1,1,1,2,1,1,1,1

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
model = LogisticRegression()

In [18]:
model.fit(X_train,y_train)

LogisticRegression()

In [19]:
model.predict(X_test)

array([4, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 4, 2,
       4, 2, 2, 2, 4, 4, 2, 4, 2, 4, 4, 4, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2,
       2, 4, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 4, 2], dtype=int64)

In [20]:
model.score(X_test,y_test)

0.9855072463768116

In [21]:
model.predict([[5,1,1,1,2,1,3,1,1]])

C:\Users\sk558\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([2], dtype=int64)

In [22]:
with open("Saved_model" , "wb" ) as file:
    pickle.dump(model,file)